.search-bar
    .search-bar__container
        .search-bar__geo-select
        .search-bar__query
        button.search-bar__submit Find

        .search-bar__options
            .calendar Calendar
            .search-bar__sort-by
                | Sort by
                button Guide rating
                button Date
