.event-card
    .event-card__user
        include /users/user-block/user-block
    img.event-card__image(src="_assets/bg.jpg")
    .event-card__content
        .event-card__type Master-class
        .event-card__name Temari
        .event-card__description
            | A number of surveys indicate that a leisurely lunch isn’t a universal perk.
        .event-card__tags
            .tag Rocket science
            .tag Handmade
    .event-card__date-wrapper
        .event-card__date 21/12/2012
        .event-card__time 21:00