@mainFont: "Open Sans";
@bgColor: #59C496;


@mainTextColor : #fff;
@mainLinkColor : #C3E8D7;
@importantColor: #DD466F;

@step: 10px;

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.position-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
}