@mainFont: "Open Sans";
@bgColor: #00CE97;
@darkBgColor: #00B29B;

@mainTextColor : #fff;
@mainLinkColor : #C3E8D7;
@importantColor: #F40064;
@importantColorHover: #db005f;
@importantColorActive: #c70056;

@step: 10px;

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.position-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
}

.round-image (@imageSize) {
  width: @imageSize;
  height: @imageSize;
  border-radius: @imageSize;
  background: #222;
  display: inline-block;
}

._base-button {
  border: 0;
  margin: 0;
  border-radius: 3px;
  line-height: 50px;
  padding: 0 35px;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.1s ease;
  outline: 0;
  display: inline-block;
  cursor: pointer;
}

._default-button (@color) {
  ._base-button;
  background: @color;
  color: @mainTextColor;

  &:hover {
    background: lighten(@color, 3%);
  }

  &:active {
    background: lighten(@color, 5%);
  }
}

._stroke-button (@color: #fff) {
  ._base-button;
  background: transparent;
  border: solid 2px @color;
  color: @color;

  &:hover {
    background: fade(#fff, 10%);
  }

  &:active {
    background: fade(#fff, 20%);
  }
}

