extends /index.jade
block content
    .content
        .content__list
            include /experiences/experience-card/experience-card
            include /experiences/experience-card/experience-card
            include /experiences/experience-card/experience-card
            include /experiences/experience-card/experience-card
        .content__actions
            .more-experiences More experiences
            .or-explore Or explore