include /components/icon/icon
include /users/user-block/user-block

.experience-card
    .experience-card__user
        +user-block
    img.experience-card__image(src="_assets/bg.jpg")
    .experience-card__content
        .experience-card__type Master-class
        .experience-card__name Temari
        .experience-card__description
            | A number of surveys indicate that a leisurely lunch isn’t a universal perk.
        .experience-card__tags
            .tag_small Rocket science
            .tag_small Handmade
    .experience-card__date-wrapper
        .experience-card__date
            +icon-text('calendar', '21/12/2012')
        .experience-card__time
            +icon-text('time', '21:00')
